---
layout: layout.njk
title: Bandit
---

<h1>Bandit Masks</h1>
<p>Zorro, The Man In Black, The Lone Ranger, Fantomas, Raffles. Simple domino masks and variations. The mask worn by outlaws began as a practical tool and then developed through various heros, anti-heros and villains in reality and fiction (masked and unmasked), through pulp novels, all the way to costumed superheros in modern cinema.</p>

<div class="gallery">

  <div class="gallery-item">
    <img src="/images/masks/Bandit.jpg" alt="Bandit"
         data-title="Bandit" 
	 data-images="/images/masks/Bandit.jpg" 
         data-description="A simple bandit mask. Man In Black, Zorro or Lone Ranger style.">
    <p class="caption">Bandit</p>
  </div>
  <div class="gallery-item">
    <img src="/images/masks/DrapeBandit.jpg" alt="Drape Bandit"
         data-title="Drape Bandit" 
	 data-images="/images/masks/DrapeBandit.jpg"
         data-description="A bandit mask with a hanging lower face covering.">
    <p class="caption">Drape Bandit</p>
  </div>

 

</div>
