---
layout: layout.njk
title: Commedia dell'Arte Masks
---

<h1>Commedia dell'Arte</h1>

<section class="projects-grid">

<a href="/Tusk" class="project-card-link">
    <div class="mask-card">
      <img src="/images/masks/Commedia/Tusk.jpg" alt="Captain Tusk" class="project-image">
      <h2>Captain Tusk</h2>
      <p>A Capitano with twisted boar-like features.</p>
    </div>
  </a>

<a href="/ForestPantalone" class="project-card-link">
    <div class="mask-card">
      <img src="/images/masks/Commedia/PantaloneLeather.jpg" alt="Forest Pantalone" class="project-image">
      <h2>Forest Pantalone</h2>
      <p>A Pantalone with sharp raptor-like features.</p>
    </div>
  </a>

<a href="/ForestDottore" class="project-card-link">
    <div class="mask-card">
      <img src="/images/masks/Commedia/Dottore.jpg" alt="Forest Dottore" class="project-image">
      <h2>Forest Dottore</h2>
      <p>A Dottore with blunt swine-like features.</p>
    </div>
  </a>

<a href="/Witch" class="project-card-link">
    <div class="mask-card">
      <img src="/images/masks/Commedia/Witch.jpg" alt="Witch" class="project-image">
      <h2>Witch</h2>
      <p>A Witch with bold avian features.</p>
    </div>
  </a>

<a href="/Toucan" class="project-card-link">
    <div class="mask-card">
      <img src="/images/masks/Commedia/ToucanZanni1.jpg" alt="Toucan" class="project-image">
      <h2>Toucan Zanni</h2>
      <p>A Zanni with large Toucan-like nose.</p>
    </div>
  </a>

<a href="/CatArlecchino" class="project-card-link">
    <div class="mask-card">
      <img src="/images/masks/Commedia/CatArlecchinoPrototype.jpg" alt="Cat" class="project-image">
      <h2>Cat Arlecchino</h2>
      <p>An Arlecchino with cat-like qualities.</p>
    </div>
  </a>


</section>

<div>
<h2>Various other masks</h2>
</div>

<div class="gallery">

  <div class="gallery-item">
    <img src="/images/masks/Commedia/PantaloneDorset3D.jpg" alt="DorsetPantalone3D"
         data-title="Pantalone (Dorset) - 3D printed" 
         data-description="The old merchant. 3D printed mask">
    <p class="caption">Dorset Pantalone - 3D printed</p>
  </div>

 

  <div class="gallery-item">
    <img src="/images/masks/Commedia/PMPantalone.jpg" alt="Pantalone"
         data-title="Pantalone (Belfast)" 
         data-description="A papier-mache Pantalone, also available 3D printed or in leather.">
    <p class="caption">Belfast Pantalone - Papier mache</p>
  </div>


  <div class="gallery-item">
    <img src="/images/masks/Commedia/PMPulchinella.jpg" alt="Pulchinella"
         data-title="Pulchinella (Belfast)" 
         data-description="A papier-mache Pulchinella, also available 3D printed or in leather.">
    <p class="caption">Belfast Pulchinella - Papier mache</p>
  </div>

  <div class="gallery-item">
    <img src="/images/masks/Commedia/Tosino.jpg" alt="Tosino"
         data-title="Tosino" 
         data-description="A servant mask I designed during my training. Leather.">
    <p class="caption">Tosino - Leather</p>
  </div>

  <div class="gallery-item">
    <img src="/images/masks/Commedia/Sid.jpg" alt="Sid"
         data-title="Sid" 
         data-description="A mask I designed at Lecoq. Updated version available 3D printed or in leather, or, like this one, in papier mache.">
    <p class="caption">Sid - Papier mache</p>
  </div>

</div>

<!-- Lightbox -->
<div id="lightbox" class="lightbox">
  <span class="close">&times;</span>
  <img class="lightbox-img" src="" alt="">
  <div class="lightbox-caption"></div>
</div>
</div>
