---
layout: layout.njk
title: Contact
---

<h1>Contact</h1>


  <p>For enquiries about purchases, commissions, workshops or anything else please get in touch:</p>

  <p><strong>Email:</strong> <a href="mailto:james@falsefaces.co.uk"> &#106;&#97;&#109;&#101;&#115;&#64;&#102;&#97;&#108;&#115;&#101;&#102;&#97;&#99;&#101;&#115;&#46;&#99;&#111;&#46;&#117;&#107;</p>
</a></p>

  <p>False Faces is based in the New Forest, Hampshire, and works with collaborators across the UK and Europe.</p>

  
</div>
