---
layout: layout.njk
title: Neutral A
---

<h1>Earrings</h1>
<p>My designs as earrings. 2cm wide.</p>

<div class="gallery">
  <div class="gallery-item">
    <img
      src="/images/miniatures/earrings/Arlecchino1.jpg"
      alt="Arlecchino"
      data-lightbox="arlecchino"
      data-images="/images/miniatures/earrings/Arlecchino1.jpg,/images/miniatures/earrings/Arlecchino2.jpg,/images/miniatures/earrings/Arlecchino3.jpg,/images/miniatures/earrings/Arlecchino4.jpg,/images/miniatures/earrings/Arlecchino5.jpg,/images/miniatures/earrings/Arlecchino6.jpg, /images/miniatures/earrings/ArlecchinoLight1.jpg, /images/miniatures/earrings/ArlecchinoLight2.jpg"
      data-description="Arlecchino"
    >
    <p class="caption">Various Arlecchinos</p>
  </div>


  <div class="gallery-item">
    <img
      src="/images/miniatures/earrings/BelfastPantalone1.jpg"
      alt="Pantalone"
      data-lightbox="pantalone"
      data-images="/images/miniatures/earrings/BelfastPantalone1.jpg,/images/miniatures/earrings/BelfastPantalone2.jpg,/images/miniatures/earrings/BelfastPantalone3.jpg,/images/miniatures/earrings/BelfastPantalone4.jpg,/images/miniatures/earrings/BelfastPantalone5.jpg,/images/miniatures/earrings/BelfastPantalone6.jpg,"
      data-description="BelfastPantalone"
    >
    <p class="caption">Various Pantalones from my first design</p>
  </div>

  <div class="gallery-item">
    <img
      src="/images/miniatures/earrings/RedTusk1.jpg"
      alt="CaptainTusk"
      data-lightbox="captaintusk"
      data-images="/images/miniatures/earrings/RedTusk1.jpg,/images/miniatures/earrings/RedTusk2.jpg,/images/miniatures/earrings/BrownTusk1.jpg,/images/miniatures/earrings/BrownTusk2.jpg,/images/miniatures/earrings/BrownTusk3.jpg,/images/miniatures/earrings/ThinTusk1.jpg, /images/miniatures/earrings/ThinTusk2.jpg,/images/miniatures/earrings/ThinTusk3.jpg,/images/miniatures/earrings/ThinTusk4.jpg,/images/miniatures/earrings/ThinTusk5.jpg,/images/miniatures/earrings/ThinTusk6.jpg,"
      data-description="CaptainTusk"
    >
    <p class="caption">Various Captain Tusks</p>
  </div>


  <div class="gallery-item">
    <img
      src="/images/miniatures/earrings/Dottore1.jpg"
      alt="Dottore"
      data-lightbox="Dottore"
      data-images="/images/miniatures/earrings/Dottore1.jpg,/images/miniatures/earrings/Dottore2.jpg,/images/miniatures/earrings/Dottore3.jpg,"
      data-description="Dottore"
    >
    <p class="caption">Various Dottores</p>
  </div>


  <div class="gallery-item">
    <img
      src="/images/miniatures/earrings/ForestPantalone1.jpg"
      alt="ForestPantalone"
      data-lightbox="ForestPantalone"
      data-images="/images/miniatures/earrings/ForestPantalone1.jpg,/images/miniatures/earrings/ForestPantalone2.jpg,/images/miniatures/earrings/ForestPantalone3.jpg,/images/miniatures/earrings/ForestPantalone4.jpg"
      data-description="ForestPantalone"
    >
    <p class="caption">Various Forest Pantalones</p>
  </div>

  <div class="gallery-item">
    <img
      src="/images/miniatures/earrings/Jack1.jpg"
      alt="Jack"
      data-lightbox="Jack"
      data-images="/images/miniatures/earrings/Jack1.jpg"
      data-description="JackOLanthorn"
    >
    <p class="caption">Jack O Lanthorn</p>
  </div>

  <div class="gallery-item">
    <img
      src="/images/miniatures/earrings/Skull1.jpg"
      alt="Skull"
      data-lightbox="Skull"
      data-images="/images/miniatures/earrings/Skull1.jpg,/images/miniatures/earrings/Skull2.jpg"
      data-description="Skull"
    >
    <p class="caption">Various Skulls</p>
  </div>

  <div class="gallery-item">
    <img
      src="/images/miniatures/earrings/Witch1.jpg"
      alt="Witch"
      data-lightbox="Witch"
      data-images="/images/miniatures/earrings/Witch1.jpg"
      data-description="Witch"
    >
    <p class="caption">Witch</p>
  </div>


  <div class="gallery-item">
    <img
      src="/images/miniatures/earrings/Zanni1.jpg"
      alt="Zanni"
      data-lightbox="Zanni"
      data-images="/images/miniatures/earrings/Zanni1.jpg,/images/miniatures/earrings/Zanni2.jpg"
      data-description="Zanni"
    >
    <p class="caption">Various Toucan Zannis</p>
  </div>


</div>

<h2>
<a href="/pedagogical">
Back
</a>
</h2>
