---
layout: layout.njk
title: Folk
---

<h1>Folk Masks</h1>
<p>Masks connected with folklore, festivals or traditions.</p>

<div class="gallery">


  <div class="gallery-item">
    <img src="/images/masks/JackOLanthorn.jpg" alt="Jack O Lanthorn"
         data-title="Jack O Lanthorn" 
	 data-images="/images/masks/JackOLanthorn.jpg"
         data-description="A halloween mask.">
    <p class="caption">Jack O Lanthorn</p>
  </div>


<div class="gallery-item">
    <img
      src="/images/masks/Greenman.jpg"
      alt="Greenman"
      data-lightbox="Greenman"
      data-images="/images/masks/Greenman.jpg"
        data-description="Greenman. Hazel and oak leaves creating a foliate face.">
    <p class="caption">Greenman</p>
  </div>


</div>
