---
layout: layout.njk
title: Folk
---

<h1>Folk &amp; Festival</h1>
<p>More coming soon</p>


<div class="gallery">

  <div class="gallery-item">
    <img src="/images/masks/Mawks.jpg" alt="Mawk Masks"
         data-title="Mawk" 
	 data-images="/images/masks/Mawk.jpg, /images/masks/Mawks.jpg"  
         data-description="Flippable masks based on the Basel/larval mask.">
    <p class="caption">Mawk Masks</p>
  </div>


</div>
  
<!-- Lightbox -->
<div id="lightbox" class="lightbox">
  <span class="close">&times;</span>
  <img class="lightbox-img" src="" alt="">
  <div class="lightbox-caption"></div>
</div>
</div>
