---
layout: layout.njk
title: Forest Pantalone
---

<h1>Forest Pantalone</h1>

<div class="gallery">
    <div class="gallery-item">
    <img src="/images/masks/Commedia/PantaloneLeather.jpg" alt="Pantalone"
         data-title="Pantalone (Forest)" 
         data-description="The old merchant. Leather mask">
    <p class="caption">Forest Pantalone - Leather</p>
  </div>

  <div class="gallery-item">
    <img src="/images/masks/Commedia/Pantalone3D.jpg" alt="Pantalone3D"
         data-title="Pantalone (Forest) - 3D printed" 
         data-description="The old merchant. 3D printed mask">
    <p class="caption">Forest Pantalone - 3D Printed</p>
  </div>

 <div class="gallery-item">
    <img src="/images/masks/Commedia/PantaloneHybrid.jpg" alt="ForestPantaloneHybrid"
         data-title="Pantalone (Forest) - Leather Hybrid" 
         data-description="The old merchant. Leather mask made with a 3D printed matrix">
    <p class="caption">Forest Pantalone - Leather</p>
  </div>

</div>
<h2>
<a href="/commedia">
Back
</a>
</h2>



<!-- Lightbox -->
<div id="lightbox" class="lightbox">
  <span class="close">&times;</span>
  <img class="lightbox-img" src="" alt="">
  <div class="lightbox-caption"></div>
</div>
</div>
