---
layout: layout.njk
title: Forest Dottore
---

<h1>Forest Dottore</h1>

<div class="gallery">
  <div class="gallery-item">
    <img src="/images/masks/Commedia/Dottore.jpg" alt="Forest Dottore"
         data-title="Forest Dottore" 
         data-description="Forest Dottore in Leather.">
    <p class="caption">Forest Dottore - Leather</p>
  </div>

  <div class="gallery-item">
    <img src="/images/masks/Commedia/DottoreResin.jpg" alt="Forest Dottore Resin"
         data-title="Forest Dottore - Resin" 
         data-description="Forest Dottore in a resin">
    <p class="caption">Forest Dottore - Resin.</p>
  </div>
</div>

<h2>
<a href="/commedia">
Back
</a>
</h2>

 
<!-- Lightbox -->
<div id="lightbox" class="lightbox">
  <span class="close">&times;</span>
  <img class="lightbox-img" src="" alt="">
  <div class="lightbox-caption"></div>
</div>
</div>
