---
layout: layout.njk
title: Keyrings
---

<h 1>keyrings</h 1>
<p>False Faces designs shrunk down and made into keyrings.  2cm wide unless stated otherwise. This is what I have in stock, more can be made to order. Click to enlarge and see variations.</p>

<div class="gallery">
  

  <div class="gallery-item">
    <img
      src="/images/miniatures/keyrings/Belfast Pantalone 1.jpg"
      alt="Pantalone"
      data-lightbox="pantalone"
      data-images="/images/miniatures/keyrings/Belfast Pantalone 1.jpg,/images/miniatures/keyrings/Belfast Pantalone 2.jpg,/images/miniatures/keyrings/BelfastPantalone 3.jpg,/images/miniatures/keyrings/BelfastPantalone 4.jpg,/images/miniatures/keyrings/BelfastPantalone 5.jpg,/images/miniatures/keyrings/BelfastPantalone6.jpg,"
      data-description="BelfastPantalone"
    >
    <p class="caption">Belfast Pantalone</p>
  </div>

  <div class="gallery-item">
    <img
      src="/images/miniatures/keyrings/Tusk solid 1.jpg"
      alt="CaptainTusk"
      data-lightbox="captaintusk"
      data-images="/images/miniatures/keyrings/Tusk solid 1.jpg,/images/miniatures/keyrings/Tusk solid 2.jpg,/images/miniatures/keyrings/Tusk solid 3.jpg"
      data-description="CaptainTusk"
    >
    <p class="caption">Captain Tusk</p>
  </div>


   
  <div class="gallery-item">
    <img
      src="/images/miniatures/keyrings/ForestPantalone 1.jpg"
      alt="ForestPantalone"
      data-lightbox="ForestPantalone"
      data-images="/images/miniatures/keyrings/ForestPantalone 1.jpg,/images/miniatures/keyrings/ForestPantalone 2.jpg,/images/miniatures/keyrings/ForestPantalone 3.jpg,/images/miniatures/keyrings/ForestPantalone 4.jpg"
      data-description="ForestPantalone"
    >
    <p class="caption">Forest Pantalone</p>
  </div>


  <div class="gallery-item">
    <img
      src="/images/miniatures/keyrings/Pulchinella 1.jpg"
      alt="Pulchinella"
      data-lightbox="Pulchinella"
      data-images="/images/miniatures/keyrings/Pulchinella 1.jpg"
      data-description="Pulchinella"
    >
    <p class="caption">Pulchinella</p>
  </div>



  <div class="gallery-item">
    <img
      src="/images/miniatures/keyrings/Skull 1.jpg"
      alt="Skull"
      data-lightbox="Skull"
      data-images="/images/miniatures/keyrings/Skull 1.jpg,/images/miniatures/keyrings/Skull 2.jpg,/images/miniatures/keyrings/Skull 3.jpg"
      data-description="Skull"
    >
    <p class="caption">Skull</p>
  </div>

  <div class="gallery-item">
    <img
      src="/images/miniatures/keyrings/Witch 1.jpg"
      alt="Witch"
      data-lightbox="Witch"
      data-images="/images/miniatures/keyrings/Witch 1.jpg,/images/miniatures/keyrings/Witch 2.jpg/images/miniatures/keyrings/Witch 3.jpg"
      data-description="Witch"
    >
    <p class="caption">Witch</p>
  </div>


  <div class="gallery-item">
    <img
      src="/images/miniatures/keyrings/Zanni 1.jpg"
      alt="Zanni"
      data-lightbox="Zanni"
      data-images="/images/miniatures/keyrings/Zanni 1.jpg,/images/miniatures/keyrings/Zanni 2.jpg"
      data-description="Zanni"
    >
    <p class="caption">Toucan Zanni</p>
  </div>


</div>

<h 2>
<a href="/miniatures">
Back
</a>
</h 2>
