---
layout: layout.njk
title: Masks
---

<h1>Masks</h1>
<p>I make masks in a range of materials, suited to design and purpose. Leather masks are the highest quality option for performance work. They are light, durable and beautifully responsive under stage or natural lighting.</p>
<p>My 3D printed masks are made with a wood-based bioplastic that offers a really competative vegan option at a slightly more affordable price point.</p>
<p>For more about the mask-making process see the page on<br>
<a class="button" href="/process" target="_blank"> Techniques &amp; Materials</a></p>

<section class="projects-grid">

  <a href="/commedia" class="project-card-link">
    <div class="project-card">
      <img src="/images/masks/Commedia/Witch.jpg" alt="Commedia dell'Arte Masks" class="project-image">
      <h2>Commedia dell’Arte</h2>
      <p>Pantalone, Zanni, Arlecchino and more — masks rooted in the Italian tradition of comic archetypes.</p>
    </div>
  </a>

  <a href="/pedagogical" class="project-card-link">
    <div class="project-card">
      <img src="/images/masks/Neutrals/C/Ci/Ci_1.jpg" alt="Pedagogical Masks" class="project-image">
      <h2>Neutral</h2>
      <p>My interpretations of the Neutral mask used in Lecoq training.</p>
    </div>
  </a>

  <a href="/mawk" class="project-card-link">
    <div class="project-card">
      <img src="/images/masks/Mawk/Bob/Bob4.jpg" alt="Mawk Masks" class="project-image">
      <h2>Mawk Masks</h2>
      <p>Simple naive masks which can be flipped upside-down.</p>
    </div>
  </a>

  <a href="/folkmasks" class="project-card-link">
    <div class="project-card">
      <img src="/images/masks/Greenman.jpg" alt="Folk Masks" class="project-image">
      <h2>Folk Masks</h2>
      <p>Masks for costumes, festivals, parties, to scare your friends.</p>
    </div>
  </a>

  <a href="/bandit" class="project-card-link">
    <div class="project-card">
      <img src="/images/masks/Bandit.jpg" alt="Other Masks" class="project-image">
      <h2>Bandit Masks</h2>
      <p>Masks for holding up stage-coaches.</p>
    </div>
  </a>

  <a href="/socialmasks" class="project-card-link">
    <div class="project-card">
      <img src="/images/masks/Bauta1/Bauta1_1.jpg" alt="Traditional Social Masks" class="project-image">
      <h2>Traditional Social Masks</h2>
      <p>Decorative social masks.</p>
    </div>
  </a>



</section>
