---
layout: layout.njk
title: Miniatures
---

<h1>Miniatures</h1>

<section class="projects-grid">

<a href="/earrings" class="project-card-link">
    <div class="mask-card">
      <img src="/images/Miniatures/earrings/Witch1.jpg" alt="Captain Tusk" class="project-image">
      <h2>Earrings</h2>
      <p>Masks and other designs in earring form</p>
    </div>
  </a>

<a href="/keyrings" class="project-card-link">
    <div class="mask-card">
      <img src="/images/Miniatures/Keyrings/ForestPantalone 3.jpg" alt="keyring" class="project-image">
      <h2>Keyrings</h2>
      <p>Masks and other designs in keyring form</p>
    </div>
  </a>

</section>

<h2>
<a href="/index">
Back
</a>
</h2>


<!-- Lightbox -->
<div id="lightbox" class="lightbox">
  <span class="close">&times;</span>
  <img class="lightbox-img" src="" alt="">
  <div class="lightbox-caption"></div>
</div>
</div>
