---
layout: layout.njk
title: Neutral A
---

<h1>Neutral Mask A Design</h1>
<p>Neutral A is slightly smaller and more delicate than the others. There is a slight upturn to the nose, and the standard size is small (13.5cm across the cheekbones, 18cm brow to chin). As with all the masks, resizing and some alterations can be done on request - just let me know what you're looking for. This mask is priced at £150 for 3D printed and £350 for leather. </p>
<p>Click the images to enlarge and see other angles.</p>

<div class="gallery">
  <div class="gallery-item">
    <img
      src="/images/masks/Neutrals/Ai.jpg"
      alt="Neutral A (Ai)"
      data-lightbox="neutral-ai"
      data-images="/images/masks/Neutrals/Ai.jpg,/images/masks/Neutrals/Ai2.jpg,/images/masks/Neutrals/Ai3.jpg,/images/masks/Neutrals/Ai4.jpg,/images/masks/Neutrals/Ai5.jpg,/images/masks/Neutrals/Ai6.jpg"
      data-description="Neutral A in light wood-filled filament"
    >
    <p class="caption">Neutral A in light wood-filled filament</p>
  </div>


   <div class="gallery-item">
      <img
      src="/images/masks/Neutrals/Aii.jpg"
      alt="Neutral A (Aii)"
      data-lightbox="neutral-aii"
      data-images="/images/masks/Neutrals/Aii.jpg,/images/masks/Neutrals/Aii2.jpg,/images/masks/Neutrals/Aii3.jpg,/images/masks/Neutrals/Aii4.jpg,/images/masks/Neutrals/Aii5.jpg"
      data-description="Neutral A in dark wood-filled filament"
    >
    <p class="caption">Neutral A in dark Brown wood-filled filament</p>
  </div>

   <div class="gallery-item">
    <img
      src="/images/masks/Neutrals/Aiii.jpg"
      alt="Neutral A (Aiii)"
      data-lightbox="neutral-aiii"
      data-images="/images/masks/Neutrals/Aiii.jpg,/images/masks/Neutrals/Aiii2.jpg,/images/masks/Neutrals/Aiii3.jpg,/images/masks/Neutrals/Aiii4.jpg,"
      data-description="Neutral A in light wood-filled filament"
    >
    <p class="caption">Neutral A in light wood-filled filament</p>
  </div>

</div>

<h2>
<a href="/pedagogical">
Back
</a>
</h2>
