---
layout: layout.njk
title: Neutral D
---

<h1>Neutral Mask D Design</h1>
<p>Neutral D is very simple and balanced. The standard size is medium (14cm across the cheekbones, 20cm brow to chin). As with all the masks, resizing and some alterations can be done on request - just let me know what you're looking for. This mask is priced at £150 for 3D printed and £350 for leather. </p>
<p>Click the images to enlarge and see other angles.</p>


<div class="gallery">


  <div class="gallery-item">
   <img
      src="/images/masks/Neutrals/D/Di/Di_1.jpg"
      alt="Neutral D (Di)"
      data-lightbox="neutral-Di"
      data-images="/images/masks/Neutrals/D/Di/Di_1.jpg,/images/masks/Neutrals/D/Di/Di_2.jpg,/images/masks/Neutrals/D/Di/Di_3.jpg,/images/masks/Neutrals/D/Di/Di_4.jpg,/images/masks/Neutrals/D/Di/Di_5.jpg,/images/masks/Neutrals/D/Di/Di_6.jpg,/images/masks/Neutrals/D/Di/Di_7.jpg"
        data-description="Neutral D in light wood-filled filament"
    >
    <p class="caption">Neutral D in light wood-filled filament</p>
  </div>


</div>

<h2>
<a href="/pedagogical">
Back
</a>
</h2>

 
