---
layout: layout.njk
title: Neutral C
---

<h1>Neutral Mask C Design</h1>
<p>Neutral C is slightly more complex than the others with defined brow and a central ridge to the nose. The standard size is large (14.5cm across the cheekbones, 20cm brow to chin). As with all the masks, resizing and some alterations can be done on request - just let me know what you're looking for. This mask is priced at £150 for 3D printed and £350 for leather. </p>
<p>Click the images to enlarge and see other angles.</p>


<div class="gallery">
  <div class="gallery-item">
   <img
      src="/images/masks/Neutrals/Ci.jpg"
      alt="Neutral C (Ci)"
      data-lightbox="neutral-ci"
      data-images="/images/masks/Neutrals/Ci.jpg,/images/masks/Neutrals/Ci2.jpg,/images/masks/Neutrals/Ci3.jpg,/images/masks/Neutrals/Ci4.jpg,/images/masks/Neutrals/Ci5.jpg,/images/masks/Neutrals/Ci6.jpg"
        data-description="Neutral C in light wood-filled filament"
    >
    <p class="caption">Neutral C in light wood-filled filament</p>
  </div>

  <div class="gallery-item">
   <img
      src="/images/masks/Neutrals/Cii.jpg"
      alt="Neutral C (Cii)"
      data-lightbox="neutral-cii"
      data-images="/images/masks/Neutrals/Cii.jpg,/images/masks/Neutrals/Cii2.jpg,/images/masks/Neutrals/Cii3.jpg,/images/masks/Neutrals/Cii4.jpg,/images/masks/Neutrals/Cii5.jpg"
        data-description="Neutral C in dark wood-filled filament"
    >
    <p class="caption">Neutral C in dark wood-filled filament</p>
  </div>

    <div class="gallery-item">
   <img
      src="/images/masks/Neutrals/Ciii.jpg"
      alt="Neutral C (Ciii)"
      data-lightbox="neutral-ciii"
      data-images="/images/masks/Neutrals/Ciii.jpg,/images/masks/Neutrals/Ciii2.jpg,/images/masks/Neutrals/Ciii3.jpg,/images/masks/Neutrals/Ciii4.jpg,/images/masks/Neutrals/Ciii5.jpg,/images/masks/Neutrals/Ciii6.jpg"
        data-description="Neutral C in light wood-filled filament"
    >
    <p class="caption">Neutral C in light wood-filled filament</p>
  </div>

</div>

<h2>
<a href="/pedagogical">
Back
</a>
</h2>

 
