---
layout: layout.njk
title: Neutral B
---

<h1>Neutral Mask B Design</h1>
<p>Neutral B is broader in the nose than the others with strong cheekbones. The standard size is medium (14cm across the cheekbones, 19cm brow to chin). As with all the masks, resizing and some alterations can be done on request - just let me know what you're looking for. This mask is priced at £150 for 3D printed and £350 for leather. </p>
<p>Click the images to enlarge and see other angles.</p>

<div class="gallery">
 <div class="gallery-item">
   <img
      src="/images/masks/Neutrals/B/Leather 1/BLi_1.jpg"
      alt="Neutral B (Leatheri)"
      data-lightbox="neutral-leatheri"
      data-images="/images/masks/Neutrals/B/Leather 1/BLi_1.jpg,/images/masks/Neutrals/B/Leather 1/BLi_2.jpg,/images/masks/Neutrals/B/Leather 1/BLi_3.jpg,/images/masks/Neutrals/B/Leather 1/BLi_4.jpg,/images/masks/Neutrals/B/Leather 1/BLi_5.jpg"
        data-description="Neutral C in Leather"
    >
    <p class="caption">Neutral B in Leather</p>
  </div> 

 <div class="gallery-item">
   <img
      src="/images/masks/Neutrals/B/Leather 2/BLii_1.jpg"
      alt="Neutral B (Leatherii)"
      data-lightbox="neutral-leatherii"
      data-images="/images/masks/Neutrals/B/Leather 2/BLii_1.jpg,/images/masks/Neutrals/B/Leather 2/BLii_2.jpg,/images/masks/Neutrals/B/Leather 2/BLii_3.jpg,/images/masks/Neutrals/B/Leather 2/BLii_4.jpg"
        data-description="Neutral C in Leather"
    >
    <p class="caption">Neutral B in Leather</p>
  </div> 


 <div class="gallery-item">
   <img
      src="/images/masks/Neutrals/B/Bi/Bi_1.jpg"
      alt="Neutral B (Bi)"
      data-lightbox="neutral-bi"
      data-images="/images/masks/Neutrals/B/Bi/Bi_1.jpg,/images/masks/Neutrals/B/Bi/Bi_2.jpg,/images/masks/Neutrals/B/Bi/Bi_3.jpg,/images/masks/Neutrals/B/Bi/Bi_4.jpg"
        data-description="Neutral C in light wood-filled filament"
    >
    <p class="caption">Neutral B in light wood-filled filament with subtle stain and tinted wax finish</p>
  </div>


   <div class="gallery-item">
    <img
      src="/images/masks/Neutrals/B/Bii/Bii_1.jpg"
      alt="Neutral B (Bii)"
      data-lightbox="neutral-bii"
      data-images="/images/masks/Neutrals/B/Bii/Bii_1.jpg,/images/masks/Neutrals/B/Bii/Bii_2.jpg,/images/masks/Neutrals/B/Bii/Bii_3.jpg,/images/masks/Neutrals/B/Bii/Bii_4.jpg,/images/masks/Neutrals/B/Bii/Bii_5.jpg"
        data-description="Neutral B in light wood-filled filament"
    >
    <p class="caption">Neutral B in light wood-filled filament with no stain and tinted wax finish</p>
  </div>

  

   <div class="gallery-item">
    <img
      src="/images/masks/Neutrals/B/Biii/Biii_1.jpg"
      alt="Neutral B (Biii)"
      data-lightbox="neutral-biii"
      data-images="/images/masks/Neutrals/B/Biii/Biii_1.jpg,/images/masks/Neutrals/B/Biii/Biii_2.jpg,/images/masks/Neutrals/B/Biii/Biii_3.jpg,/images/masks/Neutrals/B/Biii/Biii_4.jpg,/images/masks/Neutrals/B/Biii/Biii_5.jpg,/images/masks/Neutrals/B/Biii/Biii_6.jpg"
        data-description="Neutral B in light wood-filled filament"
    >
    <p class="caption">Neutral B in light wood-filled filament with warm stain and tinted wax finish</p>
  </div>


   <div class="gallery-item">
    <img
      src="/images/masks/Neutrals/B/Biv/Biv_1.jpg"
      alt="Neutral B (Biv)"
      data-lightbox="neutral-Biv"
      data-images="/images/masks/Neutrals/B/Biv/Biv_1.jpg,/images/masks/Neutrals/B/Biv/Biv_2.jpg,/images/masks/Neutrals/B/Biv/Biv_3.jpg,/images/masks/Neutrals/B/Biv/Biv_4.jpg,/images/masks/Neutrals/B/Biv/Biv_5.jpg"
        data-description="Neutral B in dark wood-filled filament"
    >
    <p class="caption">Neutral B in dark wood-filled filament with dye colouring and tinted wax finish</p>
  </div>

   <div class="gallery-item">
    <img
      src="/images/masks/Neutrals/B/Bv/Bv_1.jpg"
      alt="Neutral B (Bv)"
      data-lightbox="neutral-Bv"
      data-images="/images/masks/Neutrals/B/Bv/Bv_1.jpg,/images/masks/Neutrals/B/Bv/Bv_2.jpg,/images/masks/Neutrals/B/Bv/Bv_3.jpg,/images/masks/Neutrals/B/Bv/Bv_4.jpg"
        data-description="Neutral B in light wood-filled filament"
    >
    <p class="caption">Neutral B in light wood-filled filament with medium dye colouring and tinted wax finish</p>
  </div>

<div class="gallery-item">
    <img
      src="/images/masks/Neutrals/B/Prototype1/Prototype1_1.jpg"
      alt="Neutral B (Prototype1)"
      data-lightbox="neutral-proto1"
      data-images="/images/masks/Neutrals/B/Prototype1/Prototype1_1.jpg,/images/masks/Neutrals/B/Prototype1/Prototype1_2.jpg,/images/masks/Neutrals/B/Prototype1/Prototype1_3.jpg"
      data-description="Neutral B in light wood-filled filament"
    >
    <p class="caption">Neutral B prototype in dark wood-filled filament</p>
  </div>


   <div class="gallery-item">
    <img
      src="/images/masks/Neutrals/B/Prototype2/Prototype2_1.jpg"
      alt="Neutral B (Prototype2)"
      data-lightbox="neutral-proto2"
      data-images="/images/masks/Neutrals/B/Prototype2/Prototype2_1.jpg,/images/masks/Neutrals/B/Prototype2/Prototype2_2.jpg,/images/masks/Neutrals/B/Prototype2/Prototype2_3.jpg"
      data-description="Neutral B in dark wood-filled filament"
    >
    <p class="caption">Neutral B prototype in light wood-filled filament with a painted undercoat and staining, slght variation in nose shape</p>
  </div>


   <div class="gallery-item">
    <img
      src="/images/masks/Neutrals/B/Prototype3/Prototype3_1.jpg"
      alt="Neutral B (Prototype3)"
      data-lightbox="neutral-proto1"
      data-images="/images/masks/Neutrals/B/Prototype3/Prototype3_1.jpg,/images/masks/Neutrals/B/Prototype3/Prototype3_2.jpg,/images/masks/Neutrals/B/Prototype3/Prototype3_3.jpg,/images/masks/Neutrals/B/Prototype3/Prototype3_4.jpg,/images/masks/Neutrals/B/Prototype3/Prototype3_5.jpg"
      data-description="Neutral B in light wood-filled filament"
    >
    <p class="caption">Neutral B prototype in light wood-filled filament with a painted undercoat and staining</p>
  </div>



</div>

<h2>
<a href="/pedagogical">
Back
</a>
</h2>

 
