---
layout: layout.njk
title: Neutral B
---

<h1>Neutral Mask B Design</h1>

<div class="gallery">
  <div class="gallery-item">
    <img src="/images/masks/Neutrals/Bi.jpg" alt="Neutral Bi"
         data-title="Bi" 
         data-description="Neutral Bi">
    <p class="caption">Neutral B in Linden wood-filled filament</p>
  </div>

   <div class="gallery-item">
    <img src="/images/masks/Neutrals/Bii.jpg" alt="Neutral Bii"
         data-title="Bii" 
         data-description="Neutral Bii">
    <p class="caption">Neutral B in Chocolate Brown wood-filled filament</p>
  </div>

   <div class="gallery-item">
    <img src="/images/masks/Neutrals/Biii.jpg" alt="Neutral Biii"
         data-title="Biii" 
         data-description="Neutral Biii">
    <p class="caption">Neutral B in Linden wood-filled filament</p>
  </div>

</div>

<h2>
<a href="/pedagogical">
Back
</a>
</h2>

 
<!-- Lightbox -->
<div id="lightbox" class="lightbox">
  <span class="close">&times;</span>
  <img class="lightbox-img" src="" alt="">
  <div class="lightbox-caption"></div>
</div>
</div>
