---
layout: layout.njk
title: Neutral C
---

<h1>Neutral Mask C Design</h1>

<div class="gallery">
  <div class="gallery-item">
    <img src="/images/masks/Neutrals/Ci.jpg" alt="Neutral Ci"
         data-title="Ci" 
         data-description="Neutral Ci">
    <p class="caption">Neutral C in Linden wood-filled filament</p>
  </div>

   <div class="gallery-item">
    <img src="/images/masks/Neutrals/Cii.jpg" alt="Neutral Cii"
         data-title="Cii" 
         data-description="Neutral Cii">
    <p class="caption">Neutral C in Chocolate Brown wood-filled filament</p>
  </div>

   <div class="gallery-item">
    <img src="/images/masks/Neutrals/Ciii.jpg" alt="Neutral Ciii"
         data-title="Ciii" 
         data-description="Neutral Ciii">
    <p class="caption">Neutral C in Linden wood-filled filament</p>
  </div>

</div>

<h2>
<a href="/pedagogical">
Back
</a>
</h2>

 
<!-- Lightbox -->
<div id="lightbox" class="lightbox">
  <span class="close">&times;</span>
  <img class="lightbox-img" src="" alt="">
  <div class="lightbox-caption"></div>
</div>
</div>
