---
layout: layout.njk
title: Neutral Masks
---

<h1>Neutral Masks</h1>

<h2>The Theory</h2>
<p>The Neutral Mask was developed in collaboration between sculptor Amleto Sartori and actor and teacher Jacques Lecoq. It's a versatile tool in actor training, to try to pin down concisely what it is for and how it works, in my experience leads to endlessly being corrected by people who know better.</p>
<p>My understanding is this: the mask has an open and engaged expression, something close to wonder, but remaining ambiguous. It is the face of someone who is about to do something. It's an expression that doens't impose emotion or intention on the actor. By rendering the actor's face "neutral" in this sense, the actor is obliged to communicate using the full body.</p>
<p>It has the effect of "enlarging" the body, making it seem as if the actor is taking up more space. It amplifies the idiosyncracies in the actor's body - watching an actor in the Neutral mask you notice every tick or unconscious gesture or peculiarity of posture. Over time, the actor learns to simplify their actions, dropping anything non-essential, and finding a timing that seems clear and uninflected.</p>
<p>In practical terms, you might see actors standing straight up, with both feet firmly planted, the chest open and arms held slightly away from the sides. The body will rarely if ever be in contratortion. A great deal of the expression is found in "attitudes" - the tilt forwards or backwards of the torso, and continuity of lines through the body.</p>

<h2>My version</h2>
<p>The original Sartori Neutral Mask is the defining version, and the successive versions made my Amleto, Donato and Sarah Sartori form the true lineage of the Neutral. I've used all three and if I were to buy one, I'd choose Sarah's current interpretation. If you want the genuine article you can contact Sarah and Paola at their <a href="http://www.sartorimaskmuseum.it">website</a> or <a href="mailto:info@sartorimaskmuseum.it">email</a>.</p>
 
<p>My own versions follow the same sculptural principles the Sartori masks: an essentialized face with clear lines and planes. A frequent criticism of a lot of Neutral Masks is that they appear explicitly Caucasian and I've searched for designs that feel less restrictive, offering variations and exploring what range of physiognomy is possible without imposing character. It's a sensitive and subjective research and I hope there's something to suit all users (but if you think there's something missing, let me know). The colours of the masks, in my view, are not meant to mimic skin tones but to use the raw tones of natural materials like wood and leather.</p>

<section class="projects-grid">

  <a href="/pedagogical" class="project-card-link">
    <div class="project-card">
      <img src="/images/masks/Neutrals/C/Ci/Ci_1.jpg" alt="Pedagogical Masks" class="project-image">
      <h2>Pedagogical</h2>
      <p>Neutral, larval, and training masks for teaching physical theatre.</p>
    </div>
  </a>


</section>
