---
layout: layout.njk
title: Neutral C
---

<h1>Neutral Mask C Design</h1>
<p>Neutral C is slightly more complex than the others with defined brow and a central ridge to the nose. The standard size is large (14.5cm across the cheekbones, 20cm brow to chin). As with all the masks, resizing and some alterations can be done on request - just let me know what you're looking for. This mask is priced at £150 for 3D printed and £350 for leather. </p>
<p>Click the images to enlarge and see other angles.</p>


<div class="gallery">


<div class="gallery-item">
   <img
      src="/images/masks/Neutrals/C/Leather 1/CLi_1.jpg"
      alt="Neutral C (Leatheri)"
      data-lightbox="neutralc-leatheri"
      data-images="/images/masks/Neutrals/C/Leather 1/CLi_1.jpg,/images/masks/Neutrals/C/Leather 1/CLi_2.jpg,/images/masks/Neutrals/C/Leather 1/CLi_3.jpg,/images/masks/Neutrals/C/Leather 1/CLi_4.jpg,/images/masks/Neutrals/C/Leather 1/CLi_5.jpg"
        data-description="Neutral C in Leather"
    >
    <p class="caption">Neutral C in Leather</p>
  </div> 




  <div class="gallery-item">
   <img
      src="/images/masks/Neutrals/C/Ci/Ci_1.jpg"
      alt="Neutral C (Ci)"
      data-lightbox="neutral-ci"
      data-images="/images/masks/Neutrals/C/Ci/Ci_1.jpg,/images/masks/Neutrals/C/Ci/Ci_2.jpg,/images/masks/Neutrals/C/Ci/Ci_3.jpg,/images/masks/Neutrals/C/Ci/Ci_4.jpg,/images/masks/Neutrals/C/Ci/Ci_5.jpg"
        data-description="Neutral C in light wood-filled filament"
    >
    <p class="caption">Neutral C in light wood-filled filament</p>
  </div>

  <div class="gallery-item">
    <img
      src="/images/masks/Neutrals/C/Prototype1/Prototype1_1.jpg"
      alt="Neutral C (Prototype1)"
      data-lightbox="neutral-proto1"
      data-images="/images/masks/Neutrals/C/Prototype1/Prototype1_1.jpg,/images/masks/Neutrals/C/Prototype1/Prototype1_2.jpg,/images/masks/Neutrals/C/Prototype1/Prototype1_3.jpg"
      data-description="Neutral C in light wood-filled filament"
    >
    <p class="caption">Neutral C prototype in light wood-filled filament with staining and tinted wax finish</p>
  </div>


   <div class="gallery-item">
    <img
      src="/images/masks/Neutrals/C/Prototype2/Prototype2_1.jpg"
      alt="Neutral C (Prototype2)"
      data-lightbox="neutral-proto2"
      data-images="/images/masks/Neutrals/C/Prototype2/Prototype2_1.jpg,/images/masks/Neutrals/C/Prototype2/Prototype2_2.jpg,/images/masks/Neutrals/C/Prototype2/Prototype2_3.jpg,/images/masks/Neutrals/C/Prototype2/Prototype2_4.jpg,/images/masks/Neutrals/C/Prototype2/Prototype2_5.jpg"
      data-description="Neutral C in dark wood-filled filament"
    >
    <p class="caption">Neutral C prototype in dark wood-filled filament with stain and tinted wax finish</p>
  </div>


   <div class="gallery-item">
    <img
      src="/images/masks/Neutrals/C/Prototype3/Prototype3_1.jpg"
      alt="Neutral C (Prototype3)"
      data-lightbox="neutral-proto1"
      data-images="/images/masks/Neutrals/C/Prototype3/Prototype3_1.jpg,/images/masks/Neutrals/C/Prototype3/Prototype3_2.jpg,/images/masks/Neutrals/C/Prototype3/Prototype3_3.jpg,/images/masks/Neutrals/C/Prototype3/Prototype3_4.jpg"
      data-description="Neutral C in light wood-filled filament"
    >
    <p class="caption">Neutral C prototype in light wood-filled filament with stain and tinted wax finish</p>
  </div>

 <div class="gallery-item">
    <img
      src="/images/masks/Neutrals/C/Prototype4/Prototype4_1.jpg"
      alt="Neutral C (Prototype4)"
      data-lightbox="neutral-proto1"
      data-images="/images/masks/Neutrals/C/Prototype4/Prototype4_1.jpg,/images/masks/Neutrals/C/Prototype4/Prototype4_2.jpg,/images/masks/Neutrals/C/Prototype4/Prototype4_3.jpg"
      data-description="Neutral C in light wood-filled filament"
    >
    <p class="caption">Neutral C prototype in light wood-filled filament with painted undercoat, variation in nose shape, stained and tinted finish</p>
  </div>


</div>

<h2>
<a href="/pedagogical">
Back
</a>
</h2>

 
