---
layout: layout.njk
title: Neutral B
---

<h1>Neutral Mask B Design</h1>
<p>Neutral B is broader in the nose than the others with strong cheekbones. The standard size is medium (14cm across the cheekbones, 19cm brow to chin). As with all the masks, resizing and some alterations can be done on request - just let me know what you're looking for. This mask is priced at £150 for 3D printed and £350 for leather. </p>
<p>Click the images to enlarge and see other angles.</p>

<div class="gallery">
  <div class="gallery-item">
   <img
      src="/images/masks/Neutrals/Bi.jpg"
      alt="Neutral B (Bi)"
      data-lightbox="neutral-bi"
      data-images="/images/masks/Neutrals/Bi.jpg,/images/masks/Neutrals/Bi2.jpg,/images/masks/Neutrals/Bi3.jpg,/images/masks/Neutrals/Bi4.jpg,/images/masks/Neutrals/Bi5.jpg,/images/masks/Neutrals/Bi6.jpg,/images/masks/Neutrals/Bi7.jpg,/images/masks/Neutrals/Bi8.jpg"
        data-description="Neutral C in light wood-filled filament"
    >
    <p class="caption">Neutral B in light wood-filled filament with a resin paint undercoat</p>
  </div>


   <div class="gallery-item">
    <img
      src="/images/masks/Neutrals/Bii.jpg"
      alt="Neutral B (Bii)"
      data-lightbox="neutral-bii"
      data-images="/images/masks/Neutrals/Bii.jpg,/images/masks/Neutrals/Bii2.jpg,/images/masks/Neutrals/Bii3.jpg,"
        data-description="Neutral B in dark wood-filled filament"
    >
    <p class="caption">Neutral B in dark wood-filled filament</p>
  </div>

   <div class="gallery-item">
 <img
      src="/images/masks/Neutrals/Biii.jpg"
      alt="Neutral B (Biii)"
      data-lightbox="neutral-biii"
      data-images="/images/masks/Neutrals/Biii.jpg,/images/masks/Neutrals/Biii2.jpg,/images/masks/Neutrals/Biii3.jpg,/images/masks/Neutrals/Biii4.jpg,/images/masks/Neutrals/Biii5.jpg"
        data-description="Neutral A in light wood-filled filament"
    >
    <p class="caption">Neutral B in light wood-filled filament with a resin paint undercoat</p>
  </div>

</div>

<h2>
<a href="/pedagogical">
Back
</a>
</h2>

 
