---
layout: layout.njk
title: Neutral A
---

<h1>Neutral Mask A Design</h1>

<div class="gallery">
  <div class="gallery-item">
    <img src="/images/masks/Neutrals/Ai.jpg" alt="Neutral Ai"
         data-title="Ai" 
         data-description="Neutral Ai">
    <p class="caption">Neutral A in Linden wood-filled filament</p>
  </div>

   <div class="gallery-item">
    <img src="/images/masks/Neutrals/Aii.jpg" alt="Neutral Aii"
         data-title="Aii" 
         data-description="Neutral Aii">
    <p class="caption">Neutral A in Chocolate Brown wood-filled filament</p>
  </div>

   <div class="gallery-item">
    <img src="/images/masks/Neutrals/Aiii.jpg" alt="Neutral Aiii"
         data-title="Aiii" 
         data-description="Neutral Aiii">
    <p class="caption">Neutral A in Linden wood-filled filament</p>
  </div>

</div>

<h2>
<a href="/pedegogical">
Back
</a>
</h2>

 
<!-- Lightbox -->
<div id="lightbox" class="lightbox">
  <span class="close">&times;</span>
  <img class="lightbox-img" src="" alt="">
  <div class="lightbox-caption"></div>
</div>
</div>
