---
layout: layout.njk
title: Pedagogical Masks
---

<h1>Pedagogical Masks</h1>

<p>Masks for teaching and theatre exploration. For a really genuine Neutral Mask, the only place you can get it is from Sarah Sartori - here is her <a href="http://www.sartorimaskmuseum.it">website</a> and <a href="mailto:info@sartorimaskmuseum.it">email</a> - but to meet demand I have designed my own versions, which are mainly what you will see below. For those, <a href="mailto:james@falsefacesmasks.co.uk">contact me</a>.</p>
<p>The Neutral mask is a cornerstone of the physical theatre training developed by Jacques Lecoq. For more on my understanding of the design and use of the Neutral mask and my choices with my version, <a href="/neutral">click here.</a></p>

<section class="projects-grid">

  <a href="/NeutralA" class="project-card-link">
    <div class="project-card">
      <img src="/images/masks/Neutrals/Aiii.jpg" alt="Neutral A" class="project-image">
      <h2>Neutral A</h2>
      <p>Neutral A</p>
    </div>
  </a>

  <a href="/NeutralB" class="project-card-link">
    <div class="project-card">
      <img src="/images/masks/Neutrals/Bii.jpg" alt="Neutral B" class="project-image">
      <h2>Neutral B</h2>
      <p>Neutral B</p>
    </div>
  </a>

  <a href="/NeutralC" class="project-card-link">
    <div class="project-card">
      <img src="/images/masks/Neutrals/Ciii.jpg" alt="Neutral C" class="project-image">
      <h2>Neutral C</h2>
      <p>Neutral C</p>
    </div>
  </a>



</section>



<h2>
<a href="/masks">
Back
</a>
</h2>