---
layout: layout.njk
title: Puppets
---

<h1>Puppets</h1>

<a href="/punchandjudy" class="cta-card-link">
  <h2>Professor James Carney’s Show</h2>
  <p>Discover more about performances, bookings, and the legacy of the classic Punch and Judy show.</p>
</a>

<div class="gallery">
  <div class="gallery-item">
    <img src="/images/puppets/Punch2.jpg" alt="Punch"
         data-title="Punch" 
         data-description="The hook-nosed, hunch-backed dubious protagonist.">
    <p class="caption">Mr. Punch</p>
  </div>
  <div class="gallery-item">
    <img src="/images/puppets/Judy.jpg" alt="Judy"
         data-title="Judy" 
         data-description="The long suffering, scolding wife of Mr. Punch.">
    <p class="caption">Judy</p>
  </div>
  <div class="gallery-item">
    <img src="/images/puppets/Devil.jpg" alt="Devil"
         data-title="Devil" 
         data-description="The oldest puppet. The antagonist himself.">
    <p class="caption">Devil</p>
  </div>
  <div class="gallery-item">
    <img src="/images/puppets/Croc.jpg" alt="Crocodile"
         data-title="Crocodile" 
         data-description="Snappy croc.">
    <p class="caption">Crocodile</p>
  </div>
  <div class="gallery-item">
    <img src="/images/puppets/Policeman.jpg" alt="Policeman"
         data-title="Policeman" 
         data-description="An honest bobby.">
    <p class="caption">Policeman</p>
  </div>
  <div class="gallery-item">
    <img src="/images/puppets/Ghost.jpg" alt="Ghost"
         data-title="Ghost" 
         data-description="Poor old ghost.">
    <p class="caption">Ghost</p>
  </div>
 <div class="gallery-item">
    <img src="/images/punchandjudy/prof.jpeg" alt="The Show"
         data-title="Show" 
         data-description="The Punchman and the Punch.">
    <p class="caption">Professor James Carney's Show</p>
  </div>


<!-- Lightbox -->
<div id="lightbox" class="lightbox">
  <span class="close">&times;</span>
  <img class="lightbox-img" src="" alt="">
  <div class="lightbox-caption"></div>
</div>
</div>
