---
layout: layout.njk
title: Social
---

<h1>Social Masks</h1>
<p>Costume masks. Decorative masks. Anything that doesn't fit into the other categories.</p>

<div class="gallery">



<div class="gallery-item">
    <img
      src="/images/masks/Bauta1/Bauta1_1.jpg"
      alt="Bauta1"
      data-lightbox="Bauta1"
      data-images="/images/masks/Bauta1/Bauta1_1.jpg,/images/masks/Bauta1/Bauta1_2.jpg,/images/masks/Bauta1/Bauta1_3.jpg,/images/masks/Bauta1/Bauta1_4.jpg"
        data-description="My interpretation of a traditional Venitian social mask.">
    <p class="caption">Bauta</p>
  </div>


</div>
