---
layout: layout.njk
title: Petas Witch
---

<h1>Peta's Witch</h1>

<div class="gallery">
  <div class="gallery-item">
    <img src="/images/masks/Commedia/Witch.jpg" alt="Witch"
         data-title="Witch"
	 data-images="/images/masks/Commedia/Witch.jpg"
         data-description="Witch in a 3D printed version">
    <p class="caption">Witch - 3D printed</p>
  </div>

  <div class="gallery-item">
    <img src="/images/masks/Commedia/WitchProto2.jpg" alt="Witch"
         data-title="Witch" 
	 data-images="/images/masks/Commedia/WitchProto2.jpg"
         data-description="Witch in a 3D printed version">
    <p class="caption">Witch, second prototype - 3D printed</p>
  </div>
</div>

<h2>
<a href="/commedia">
Back
</a>
</h2>

 
<!-- Lightbox -->
<div id="lightbox" class="lightbox">
  <span class="close">&times;</span>
  <img class="lightbox-img" src="" alt="">
  <div class="lightbox-caption"></div>
</div>
</div>
