---
layout: layout.njk
title: Workshops
---

<h1>Workshops</h1>

<p><a href="mailto:james@falsefaces.co.uk">Drop me an email</a> to discuss workshops.</p>


<div class="gallery">
  <div class="gallery-item">
    <img src="/images/workshops/Workshop2.jpg" alt="Workshop"
         data-title="A mask workshop" 
	 data-images="/images/workshops/Workshop2.jpg"
         data-description="One of my workshops">
    <p class="caption">Mask workshop</p>
  </div>
<div class="gallery-item">
    <img src="/images/workshops/Workshop3.jpg" alt="Workshop"
         data-title="A mask workshop" 
	 data-images="/images/workshops/Workshop3.jpg"
         data-description="One of my workshops">
    <p class="caption">Mask workshop</p>
  </div>



<!-- Lightbox -->
<div id="lightbox" class="lightbox">
  <span class="close">&times;</span>
  <img class="lightbox-img" src="" alt="">
  <div class="lightbox-caption"></div>
</div>
</div>
