---
layout: layout.njk
title: Pedagogical Masks
---

<h1>Pedagogical Masks</h1>

<p>Masks for teaching and theatre exploration. For a really genuine Neutral Mask, the only place you can get it is from Sarah Sartori - here is her <a href="http://www.sartorimaskmuseum.it">website</a> and <a href="mailto:info@sartorimaskmuseum.it">email</a> - but to meet demand I have designed my own versions, which are mainly what you will see below. For those, <a href="mailto:james@falsefacesmasks.co.uk">contact me</a>.</p>
<p>The Neutral mask is a cornerstone of the physical theatre training developed by Jacques Lecoq. For more on my understanding of the design and use of the Neutral mask and my choices with my version, <a href="/falsefaces/neutral">click here.</a></p>
<div class="gallery">

  <div class="gallery-item">
    <img src="/images/masks/Neutral9b.jpg" alt="Neutral 9 Light"
         data-title="Neutral 9 Light" 
         data-description="Higher cheekbones, potentially feminine, proportionally wide, minimal features.">
    <p class="caption">Neutral 9 Light</p>
  </div>
  <div class="gallery-item">
    <img src="/images/masks/Neutral10b.jpg" alt="Neutral 10 Light"
         data-title="Neutral 10 Light" 
         data-description="Simple forehead, slightly wider nose.">
    <p class="caption">Neutral 10 Light</p>
  </div>
  <div class="gallery-item">
    <img src="/images/masks/Neutral11b.jpg" alt="Neutral 11 Light"
         data-title="Neutral 11 Light" 
         data-description="Slightly more ornate forehead and brow, central peak to the nose.">
    <p class="caption">Neutral 11 Light</p>
  </div>

  <div class="gallery-item">
    <img src="/images/masks/Neutral9c.jpg" alt="Neutral 9 Dark"
         data-title="Neutral 9 Dark" 
         data-description="Higher cheekbones, potentially feminine, proportionally wide, minimal features.">
    <p class="caption">Neutral 9 Dark</p>
  </div>
  <div class="gallery-item">
    <img src="/images/masks/Neutral10c.jpg" alt="Neutral 10 Dark"
         data-title="Neutral 10 Dark" 
         data-description="Simple forehead, slightly wider nose.">
    <p class="caption">Neutral 10 Dark</p>
  </div>
  <div class="gallery-item">
    <img src="/images/masks/Neutral11c.jpg" alt="Neutral 11 Dark"
         data-title="Neutral 11 Dark" 
         data-description="Slightly more ornate forehead and brow, central peak to the nose.">
    <p class="caption">Neutral 11 Dark</p>
  </div>

<!-- Lightbox -->
<div id="lightbox" class="lightbox">
  <span class="close">&times;</span>
  <img class="lightbox-img" src="" alt="">
  <div class="lightbox-caption"></div>
</div>
</div>
